<h1>Bienvenido</h1>
<div>
    <h2>Tú perfil</h2>
    <ul>
        <li>Nombre y apellido: {{user.first_name}} {{user.last_name}}</li>
        <li>Edad:  {{user.age}}</li>
        <li>Mail:  {{user.email}}</li>
        <li>Rol:  {{role}}</li>

    </ul>
</div>